-- Check which table has more users
SELECT 'profiles' as table_name, COUNT(*) as user_count FROM profiles
UNION ALL
SELECT 'user_profiles' as table_name, COUNT(*) as user_count FROM user_profiles;
