-- Migration: Add PAD support and update status constraints
-- 1. Update rent_ledgers status check constraint
ALTER TABLE public.rent_ledgers DROP CONSTRAINT IF EXISTS rent_ledgers_status_check;
ALTER TABLE public.rent_ledgers ADD CONSTRAINT rent_ledgers_status_check 
    CHECK (status IN ('unpaid', 'pending', 'processing', 'paid', 'overdue', 'partially_paid', 'failed'));

-- 2. Update rental_payments status check constraint
ALTER TABLE public.rental_payments DROP CONSTRAINT IF EXISTS rental_payments_payment_status_check;
ALTER TABLE public.rental_payments ADD CONSTRAINT rental_payments_payment_status_check 
    CHECK (payment_status IN ('pending', 'processing', 'paid', 'completed', 'failed', 'refunded', 'cancelled'));

-- 3. Update payment_methods card_type check constraint
ALTER TABLE public.payment_methods DROP CONSTRAINT IF EXISTS payment_methods_card_type_check;
ALTER TABLE public.payment_methods ADD CONSTRAINT payment_methods_card_type_check 
    CHECK (card_type IN ('credit', 'debit', 'bank_account'));
